* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login {
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}


.login-location {
    margin-bottom: 40px;
}


.login-process {
    list-style: none;
    display: flex;
}

.login-process img {
    vertical-align: middle;
}

.login-list1>a>img {
    width: 20px;
}

.login-list3>a {
    vertical-align: middle;
    text-decoration: none;
    color: #727272;
}


.login-process li {
    margin-right: 15px;
}



.login h2,
.login h3 {
    font-weight: 500;
    letter-spacing: -2px;
}

.login h2 {
    margin-bottom: 30px;
}

.login-section {
    width: 60%;
    margin: 0 auto;


}

.id-section,
.pw-section {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}

.id-section>span,
.pw-section>span {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
    letter-spacing: -2px;
}





#id-input,
#pw-input {
    width: 70%;
    height: 40px;
    margin-top: 20px;
   letter-spacing: -1px;
}

#btn-login{
    width: 50%;
    height: 40px;

}

#id-input,
#pw-input {
   
    border-width: 0 0 1px 0;
}


#btn-login {
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    background-color: #196dff;
    color: white;

    cursor: pointer;


}




.login-text{
    width: 50%;
   
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.login-text > a {
    text-decoration: none;
    color: #727272;
    font-size: 0.9rem;
    letter-spacing: -2px;
}



h3 {
    margin-top: 10px;
    margin-bottom: 20px;
}

.login-icon {
    width: 50px;
    height: 50px;
    margin-right: 20px;
   
    object-fit: cover;
}

.line {
    border: 1px solid lightgray;
    margin: 30px auto;

    width: 80%;
}

.color-border {
    border-radius: 4px;
    outline: 2px solid #196dff;
}

.benefit {
    margin: 100px auto;
    width: 60%;
    height: 200px;
    background-color: #d1d1d1;
    padding: 30px;
}

.benefit>strong {
    letter-spacing: -2px;

}

.benefit-text {
    margin-top: 20px;
}

.benefit-text>li::before {
    content: "* ";
}

.benefit-text>li {
    list-style-type: none;
    margin-top: 15px;
    letter-spacing: -2px;
}