* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
    /* right: 0;
    bottom: 0;
    left: 0; */
    background-color: white;

}

.header-side {
    margin-right: 30px;
    display: flex;
    justify-content: right;
}

#head-login,
#head-signup {
    width: 70px;
    height: 35px;

    text-decoration: none;
    color: #444444;
    letter-spacing: -2px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition-property: all;
    transition-duration: 0.4s;
}

#head-login:hover,
#head-signup:hover {
    background-color: #444444;
    color: #fff;
}

#header-logo {
    width: 350px;
    margin-left: 10px;
    vertical-align: middle;
}

.header-nav {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}



.depth1 {
    display: inline-block;

    /* margin-left: 100px; */
    margin-top: 30px;
}

.depth1>li {
    display: inline-block;
    margin-right: 30px;
}

.depth1 a {
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 600;
    color: #222222;
    letter-spacing: -2px;
}



.depth1 img {

    width: 25px;
    height: 25px;
    object-fit: cover;
}

.sub-menu {
    width: 100vw;
    height: 40px;

    display: block;
    visibility: hidden;
    opacity: 0;

    position: absolute;
    top: 90px;
    left: 0;
    background: #222222;

    transition-property: all;
    transition-duration: 0.7s;
    transition-timing-function: ease-out;
}

.sub-menu>ul {
    display: flex;
    justify-content: center;

}

.sub-menu>ul>li>a {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;

}

.depth2 {
    display: inline-block;
}

.depth2>li {
    display: inline-block;
    margin-top: 5px;
    margin-right: 20px;
    vertical-align: middle;
}

.depth1>li:hover .sub-menu {
    visibility: visible;
    opacity: 1;

}

.depth1-btn:hover {
    text-decoration: underline;
    text-underline-offset: 15px;
}

.header-side>a>img {

    margin-left: 15px;
    margin-right: 5px;
    margin-top: 5px;
    padding-top: 5px;
    height: 20px;
    object-fit: cover;
    vertical-align: middle;
}

.main {
    margin-top: 27px;

}

.main-pic {
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
}

.main-pic .main-pic-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    animation: slide 12.5s infinite;
    animation-play-state: running;

}

@keyframes slide {

    0%,
    16%,
    100% {
        transform: translateX(0);
        animation-timing-function: ease;
    }

    20% {
        transform: translateX(-100%);
        animation-timing-function: step-end;
    }

    96% {
        transform: translateX(100%);
        animation-timing-function: ease;
    }
}


.main-pic .main-pic-slide:nth-child(1) {
    background-image: url("../images/main-pic/메소포타미아저기록의땅.jpg");

    animation-delay: 0;
}

.main-pic .main-pic-slide:nth-child(2) {
    background-image: url("../images/main-pic/세계유산가야.jpg");

    animation-delay: -2.5s;
}

.main-pic .main-pic-slide:nth-child(3) {
    background-image: url("../images/main-pic/스투파의숲.jpg");

    animation-delay: -5s;
}

.main-pic .main-pic-slide:nth-child(4) {
    background-image: url("../images/main-pic/옛그림속꽃과나비.jpg");

    animation-delay: -7.5s;
}

.main-pic .main-pic-slide:nth-child(5) {
    background-image: url("../images/main-pic/나주어린이박물관.jpg");

    animation-delay: -10s;
}


.main-pic-div {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #444444;
    border-radius: 50%;
    margin: 0 15px;
}






.main-pic .pic-paused,
.exhibit-outter .exhibit-paused {
    animation-play-state: paused;

}

.pic-control>img {
    position: absolute;
    bottom: 30px;
    right: 50px;
    width: 40px;
    height: 40px;

    border: none;
    background-size: cover;

}


.exhibit-outter {
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
    /* background-color: lightgray; */
    overflow: hidden;
    position: relative;
}

.exhibit-outter>h3 {
    letter-spacing: -2px;
    margin-bottom: 25px;
}

.exhibit-inner {
    width: 2350px;

    display: flex;
    animation: exhibit-ani;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes exhibit-ani {
    25% {
        transform: translateX(-290px);
    }

    50% {
        transform: translateX(-580px);
    }

    75% {
        transform: translateX(-870px);
    }

    100% {
        transform: translateX(-1160px);
    }

}

.exhibit {
    width: 250px;
    margin-right: 40px;

    /*290px*/
}

.exhibit>a>img {
    width: 100%;
    height: 400px;

}

.exhibit a {
    text-decoration: none;
    color: #222222;
    letter-spacing: -2px;

    display: block;
}

#exhibit-title {
    margin-top: 10px;
}

.exhibit span {
    color: #222222;
    border: 1px solid #222222;
    padding: 2px;
    letter-spacing: -2px;


}

.exhibit span:nth-of-type(1) {
    background-color: #222222;
    color: #fff;
}


.exhibit p {
    color: #7c7c7c;
    letter-spacing: -2px;

}

#exhibit-play {
    position: absolute;
    bottom: 0;
    right: 0;
}

#exhibit-play>img {
    width: 20px;
    height: 20px;

}

#exhibit-play {
    border: none;
    background-color: transparent;
}



























.notice-section {
    width: 90%;
    margin: 0 auto;
    display: flex;
}

.notice {
    width: 50%;
    margin: 20px;
    margin-left: 40px;
    margin-top: 60px;

}

.notice>h3,
.scholar>h3 {
    letter-spacing: -2px;
    color: #1b0909;
}

.notice>ul {
    list-style-type: none;
}

.notice-list>a {
    text-decoration: none;
    color: #222222;
}

.notice-list {
    margin-top: 10px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #a7a7a7;
}

.notice-list>a>div {
    display: flex;
    justify-content: space-between;

}

.notice-icon {
    display: flex;


}

.notice-p {
    width: 80px;
    letter-spacing: -2px;
    color: #fff;
    background-color: #222222;
    border-radius: 13px;
    padding: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.notice-state {
    margin-top: 5px;
    margin-left: 20px;
}

.scholar {
    width: 50%;

    position: relative;

    margin-top: 30px;
}

.scholar>h3 {
    padding-top: 30px;
    padding-left: 30px;
}


.scholar-box {
    width: 600px;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.scholar-outter {
    margin: 0 auto;
    position: relative;
    width: 470px;
    height: 450px;
    overflow: hidden;
}

.scholar-inner {
    /* width는 스크립트에서 계산 */
    height: 450px;
    display: flex;
    /* flex-wrap: wrap; */
    position: relative;
}

.scholar-box>img {
    width: 50%;
    height: 90%;

}

.scholar-text {
    width: 50%;
    padding-left: 30px;
}

.scholar-text>p {

    letter-spacing: -2px;
}

.scholar-text>p:nth-child(1) {
    font-size: 1.2rem;
    font-weight: bold;

}

.scholar-btn {
    position: absolute;
    bottom: 5%;
    border: none;
    background-color: transparent;
}

#btn-pre {
    right: 35%;


}

#btn-next {
    right: 5%;
}

.scholar-btn>img {
    width: 50px;
    height: 50px;
}

.video-section {
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.video-section>h3 {
    width: 90%;
    margin-bottom: 20px;
}


.video-box {
    width: 50%;
    text-align: center;
   

}

.info-area {
    width: 100%;
    background-color: #e6e6e6;
    padding: 20px 30px;
}

.open-info>strong {
    color: #3f0b9f;
    font-size: 1.5rem;

}

.open-info {
    margin-left: 40px;
}

.price{
    margin-right: 40px;
}


.info-list {
    margin-top: 20px;

}

.info-list>li {
    display: inline-block;
    margin-right: 15px;
}

.info-list>li>p {
    letter-spacing: -2px;
}

.info-area {
    display: flex;
    justify-content: space-between;
}

.price>strong {
    display: block;
    text-align: right;

    font-size: 1.6rem;
    letter-spacing: -2px;
}

.price>p {
    margin-top: 10px;
    font-size: 1.3rem;
    letter-spacing: -2px;
}