* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.signUp {
    width: 60%;
    margin: 100px auto;

    text-align: center;
}

.signUp p {
    width: 35%;

    letter-spacing: -2px;
    
    display: flex;
    justify-content: left;
    align-items: center;
}

.signUp .require-sentence{
    width: 80%;
    
    margin: 0 auto;
    margin-top: 10px;

    color: #ff3f3f;
    letter-spacing: -3px;
    font-size: 0.9rem;
}

.require-info span:not(.number span){
    color: #ff3f3f;
}

.require-info input {
    width: 65%;
    height: 30px;

    padding: 5px;
}

.require-info {
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.gender{
    width: 100%;

    margin: 20px 0;

    display: flex;
    justify-content: left;
}

.number {
    width: 65%;
}

#number1,
#number2,
#number3 {
    width: 30%;
}

.name-info,
.id_info,
.passWord-info,
.passCheck-info,
.phone,
.email-info {
    width: 80%;

    margin: 0 auto;
    margin-top: 40px;

    display: flex;
    justify-content: space-between;
}


.add-info{
    width: 80%;

    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#name, #id, #passWord, #passWordCheck,
#number1, #number2, #number3, #day, #email{
    border: 1px solid #d1d1d1;
    border-width: 0 0 1px 0;
}

#name:focus, #id:focus, #passWord:focus, #passWordCheck:focus,
#number1:focus, #number2:focus, #number3:focus,
#day:focus, #email:hover, .birthDay-select > select:hover {
    outline: none;

    border-width: 0 0 2px 0;
    border-color: #196dff;
}

.birthDay-select > select{
    outline: none;

    width: 25%;
    height: 40px;

    font-size: 0.9rem;
    text-align: right;

    border: 1px solid #d1d1d1;
    border-width: 0 0 1px 0;
}

.gender-radio>label {
    margin-right: 20px;
}

.gender-radio {
    width: 65%;

    display: flex;
    justify-content: left;
}

h2, h3{
    letter-spacing: -2px;
    font-weight: 500;
}

h2{
    margin: 20px 0;
}

h3 {
    margin: 30px 0;
}

.birthDay-info {
    width: 100%;

    margin: 10px auto;

    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

#day {
    width: 25%;
    height: 40px;

    margin-left: 30px;

    text-align: right;
}

.birthDay-select {
    width: 65%;

    display: flex;
    justify-content: left;
}

.birthDay-select span{
    margin-left: 10px;

    display: flex;
    align-items: center;
}

#btn-sign {
    margin-top: 30px;
    margin-bottom: 50px;

    width: 100%;
    height: 50px;

    background-color: #196dff;
    color: white;

    border-radius: 10px;
    border: none;

    letter-spacing: 5px;
    font-size: 1.2rem;

    cursor: pointer;
}